<div class="extra-pagination">
	{{pagination}}
</div>

{{#foreach posts visibility="all"}}

<article class="{{post_class}}">
	<div class="inner">
		<div class="box post-box">
			<time datetime="{{date format='DD-MM-YYYY'}}">{{date format="DD MMM YYYY"}}</time>
			<h2 class="post-title"><a href="{{url}}">{{{title}}}</a></h2>
		</div>
	</div>
</article>

{{/foreach}}

{{pagination}}