<ul class="nav-meta">
  {{#if @site.twitter}}
  <li class="nav-twitter">
    <a aria-label="Twitter" href="{{twitter_url}}" title="{{@site.twitter}}" target="_blank">
      <i class="icon icon-twitter" aria-hidden="true"></i>
      <span>{{@site.twitter}}</span>
    </a>
  </li>
  {{/if}}
  {{#if @site.facebook}}
  <li class="nav-facebook">
    <a aria-label="Facebook" href="{{facebook_url}}" title="{{@site.facebook}}" target="_blank">
      <i class="icon icon-facebook" aria-hidden="true"></i>
      <span>{{@site.facebook}}</span>
    </a>
  </li>
  {{/if}}
  <li class="nav-search">
    <a title="{{t "Search"}}" data-ghost-search>
      <i class="icon icon-search" aria-hidden="true"></i>
      <span>{{t "Search"}}</span>
    </a>
  </li>
</ul>
