<nav id="menu">
	<a class="close-button">Close</a>
	<div class="nav-wrapper">
		<p class="nav-label">Menu</p>
		<ul>
			{{#foreach navigation}}
			<li class="nav-{{slug}}{{#if current}} active{{/if}}" role="presentation"><a href="{{url absolute="true"}}">{{label}}</a></li>
			{{/foreach}}
			{{#if @labs.subscribers}}
	        <li class="nav-{{slug}}{{#if current}} active{{/if}}" role="presentation"><a class="subscribe-button" href="{{@blog.url}}/subscribe/">Subscribe</a></li>
	    {{else}}
	        <li class="nav-rss"><a href="{{@blog.url}}/rss/"><i class="ic ic-rss"></i> Subscribe</a></li>
	    {{/if}}
			<li class="nav-fb"><a href="https://www.facebook.com/theboxesoflife/"><i class="ic ic-facebook" style="font-size:large"></i></a></li>
			<li class="nav-tw"><a href="https://twitter.com/TheBoxesofLife"><i class="ic ic-twitter" style="font-size:large"></i></a></li>
		</ul>
	</div>
</nav>
