<ul class="nav-meta">
  {{#if @site.twitter}}
  <li class="nav-twitter">
    <a aria-label="Twitter" href="{{twitter_url}}" title="{{@site.twitter}}" target="_blank">
      <i class="icon icon-twitter" aria-hidden="true"></i>
      <span>{{@site.twitter}}</span>
    </a>
  </li>
  {{/if}}
  {{#if @site.facebook}}
  <li class="nav-facebook">
    <a aria-label="Facebook" href="{{facebook_url}}" title="{{@site.facebook}}" target="_blank">
      <i class="icon icon-facebook" aria-hidden="true"></i>
      <span>{{@site.facebook}}</span>
    </a>
  </li>
  {{/if}}
  <li class="nav-search" style="display: none;">
    <a title="{{t "Search"}}">
      <i class="icon icon-search" aria-hidden="true"></i>
      <span>{{t "Search"}}</span>
    </a>
  </li>
  <!--
  {{#unless @member}}
    <li class="nav-subscribe">
      <a href="#/portal">Subscribe</a>
    </li>
  {{else}}
    <li class="nav-account">
      <a href="#/portal/account">Account</a>
    </li>
  {{/unless}}
  -->
</ul>
