<nav id="menu">
	<a class="close-button">{{t "Close"}}</a>
	<div class="nav-wrapper">
		<p class="nav-label">{{t "Menu"}}</p>
		<ul>
			{{#foreach navigation}}
			<li class="nav-{{slug}}{{#if current}} active{{/if}}" role="presentation"><a href="{{url absolute="true"}}">{{label}}</a></li>
			{{/foreach}}
			{{#if @site.twitter}}
			<li class="nav-twitter"><a href="{{twitter_url}}" title="{{@site.twitter}}"><i class="ic ic-twitter"></i> Twitter</a></li>
			{{/if}}
			{{#if @site.facebook}}
			<li class="nav-facebook"><a href="{{facebook_url}}" title="{{@site.facebook}}"><i class="ic ic-facebook"></i> Facebook</a></li>
			{{/if}}
			{{#if @labs.subscribers}}
			<li class="nav-subscribe"><a href="{{@site.url}}/subscribe/"><i class="ic ic-mail"></i> {{t "Subscribe"}}</a></li>
			{{else}}
			<li class="nav-rss"><a href="{{@site.url}}/rss/"><i class="ic ic-rss"></i> {{t "Subscribe"}}</a></li>
			{{/if}}
		</ul>
	</div>
</nav>
