<!DOCTYPE html>
<html lang="{{@site.lang}}">
<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

	<title>{{meta_title}}</title>

	<meta name="HandheldFriendly" content="True" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />

	<link rel="stylesheet" type="text/css" href="{{asset "css/style.css"}}" />

	{{ghost_head}}
</head>

<body class="{{body_class}}">

	<div class="nav-header">
		<nav class="nav-wrapper">
				{{#if @site.logo}}
				<span class="logo">
					<a href="{{@site.url}}" title="{{t "Home"}}"><img src="{{@site.logo}}" alt="{{t "Logo"}}" /></a>
				</span>
				{{/if}}
				{{navigation}}
				<ul class="nav-side">
					{{#if @site.twitter}}
					<li class="nav-twitter"><a title="Twitter" href="{{twitter_url}}" title="{{@site.twitter}}" target="_blank"><i class="icon icon-twitter"></i><span>Twitter</span></a></li>
					{{/if}}
					{{#if @site.facebook}}
					<li class="nav-facebook"><a title="Facebook" href="{{facebook_url}}" title="{{@site.facebook}}" target="_blank"><i class="icon icon-facebook"></i><span>Facebook</span></a></li>
					{{/if}}
					{{#if @labs.subscribers}}
					<li class="nav-subscribe"><a title="Subscribe" href="{{@site.url}}/subscribe/" target="_blank"><i class="icon icon-mail"></i><span>{{t "Subscribe"}}</span></a></li>
					{{/if}}
					<li class="nav-rss"><a title="RSS" href="{{@site.url}}/rss/" target="_blank"><i class="icon icon-rss"></i><span>RSS</span></a></li>
					<li class="nav-search" style="display: none;"><a title="{{t "Search"}}"><i class="icon icon-search"></i><span>{{t "Search"}}</span></a></li>
				</ul>
		</nav>

		<div class="nav-wrapper-control">
			<div class="inner">
				<a class="nav-menu"><i class="icon icon-menu"></i>{{t "Menu"}}</a>
				<a class="nav-search" style="display: none;" title="{{t "Search"}}"><i class="icon icon-search"></i><span>{{t "Search"}}</span></a>
			</div>
		</div>
	</div>
	<div class="nav-close"></div>

	<section class="page-wrapper">

		{{{body}}}

		<div id="search" class="container">
			<div class="content">
				<div class="blog-header">
					<div class="inner">
						<div class="archive archive-search box archive-box">
							<form class="search">
								<input type="text" id="search-field" placeholder="{{t "Search"}}&#8230;" />
								<input type="submit" value="search" />
							</form>
						</div>
					</div>
				</div>
				<div id="results"></div>
			</div>
			<div class="search-close"></div>
		</div>

		<div class="nav-footer">
			<nav class="nav-wrapper">
				{{#if @site.secondary_navigation}}
				{{navigation type="secondary"}}
				{{else}}
				<span class="nav-copy">{{@site.title}} &copy; {{date format='YYYY'}}</span>
				{{/if}}
				<span class="nav-credits">{{t "Published with"}} <a href="https://ghost.org">Ghost</a> &bull; {{t "Theme" }} <a href="https://github.com/zutrinken/attila">Attila</a></span>
			</nav>
		</div>

	</section>

	{{!-- Load basic scripts --}}
	<script type="text/javascript" src="{{asset "js/script.js"}}"></script>

	{{!-- Load scripts from other template files --}}
	{{{block "scripts"}}}

	{{ghost_foot}}

</body>
</html>
