{{!< default}}
<header class="blog-header {{#if @site.cover_image}} has-cover{{/if}}">
	<div class="inner">
		<div class="box blog-box">
			<h1 class="blog-name">{{@site.title}}</h1>
			{{#if @site.description}}
			<span class="blog-description">{{@site.description}}</span>
			{{/if}}
			<div class="store-download-buttons">
				<a target="_blank" href="https://itunes.apple.com/in/app/cityflo/id1060733672?mt=8">
					<img class="icon-apple-store" src="https://s3.ap-south-1.amazonaws.com/cityflo.com/appbadge.svg" />
				</a>
				<a target="_blank" href="https://play.google.com/store/apps/details?id=com.cityflo.customer&hl=en_IN">
					<img class="icon-play-store" src="https://s3.ap-south-1.amazonaws.com/cityflo.com/playbadge.png" />
				</a>
			</div>
			{{#if @site.cover_image}}
		</div>
		<div class="blog-cover cover">
			<img
			srcset="{{img_url @site.cover_image size="s"}} 320w,
              {{img_url @site.cover_image size="m"}} 640w,
              {{img_url @site.cover_image size="l"}} 960w,
              {{img_url @site.cover_image size="xl"}} 1920w"
      src="{{img_url @site.cover_image size="xl"}}"
			alt="{{@site.title}}" />
		</div>
		{{/if}}
	</div>
</header>

<div id="index" class="container">

	<main class="content" role="main">

		{{> "loop"}}

	</main>

</div>
