{{!< default}}
<header id="blog-header"{{#if @site.cover_image}} class="has-cover"{{/if}}>
	<div class="inner">
		<nav id="navigation">
			{{#if @site.logo}}
			<span class="blog-logo">
				<a href="{{@site.url}}"><img src="{{@site.logo}}" alt="{{t "Blog Logo"}}" /></a>
			</span>
			{{/if}}
			{{#if @site.navigation}}
			<span id="menu-button" class="nav-button">
				<a class="menu-button"><i class="ic ic-menu"></i> {{t "Menu"}}</a>
			</span>
			{{/if}}
		</nav>
		<h1 class="blog-name"><a href="{{@site.url}}">{{@site.title}}</a></h1>
		{{#if @site.description}}
		<span class="blog-description">{{@site.description}}</span>
		{{/if}}
		{{#if @site.cover_image}}
		<div class="blog-cover cover" style="background-image: url('{{img_url @site.cover_image}}');"></div>
		{{/if}}
	</div>
</header>

<div id="index" class="container">

	<main class="content" role="main">

		{{> "loop"}}

	</main>

</div>
