{{!< default}}

{{#post}}

<header id="post-header"{{#if image}} class="has-cover" {{/if}}>
	<div class="inner">
		<nav id="navigation">
			{{#if @blog.logo}}
			<span class="blog-logo">
				<a href="{{@blog.url}}"><img src="{{@blog.logo}}" alt="Blog Logo" /></a>
			</span>
			{{else}}
			<span id="home-button" class="nav-button">
				<a class="home-button" href="{{@blog.url}}" title="Home"><i class="ic ic-arrow-left"></i> Home</a>
			</span>
			{{/if}}
			{{#if @blog.navigation}}
			<span id="menu-button" class="nav-button">
				<a class="menu-button"><i class="ic ic-menu"></i> Menu</a>
			</span>
			{{/if}}
		</nav>
		<h1 class="post-title">{{{title}}}</h1>
		{{#if image}}<div class="post-cover cover" style="background-image: url('{{image}}');"></div>{{/if}}
	</div>
</header>

<main class="content" role="main">
	<article class="{{post_class}}">
		<div class="inner">
		
			<section class="post-content">
				{{content}}
			</section>

		</div>
	</article>
</main>

{{/post}}