{{!< default}}

{{#post}}

<div class="progress-container">
	<span class="progress-bar"></span>
</div>

<header id="post-header"{{#if feature_image}} class="has-cover" {{/if}}>
	<div class="inner">
		<nav id="navigation">
			{{#if @blog.logo}}
			<span class="blog-logo">
				<a href="{{@blog.url}}"><img src="{{@blog.logo}}" alt="Blog Logo" /></a>
			</span>
			{{else}}
			<span id="home-button" class="nav-button">
				<a class="home-button" href="{{@blog.url}}" title="Home"><i class="ic ic-arrow-left"></i> Home</a>
			</span>
			{{/if}}
			{{#if @blog.navigation}}
			<span id="menu-button" class="nav-button">
				<a class="menu-button"><i class="ic ic-menu"></i> Menu</a>
			</span>
			{{/if}}
		</nav>
		<h1 class="post-title">{{{title}}}</h1>
		<span class="post-meta">{{author}} | <time datetime="{{date format='YYYY-MM-DD'}}">{{date format="DD MMM YYYY"}}</time></span>
		{{#if feature_image}}<div class="post-cover cover" style="background-image: url('{{feature_image}}');"></div>{{/if}}
	</div>
</header>

<main class="content" role="main">
	<article class="{{post_class}}">
		<div class="inner">
		
			<section class="post-content">
				{{content}}
			</section>
			
			<section class="post-info">
				
				<div class="post-share">
					<a class="twitter" href="https://twitter.com/share?text={{title}}&url={{url absolute="true"}}" onclick="window.open(this.href, 'twitter-share', 'width=550,height=235');return false;">
						<i class="ic ic-twitter"></i><span class="hidden">Twitter</span>
					</a>
					<a class="facebook" href="https://www.facebook.com/sharer/sharer.php?u={{url absolute="true"}}" onclick="window.open(this.href, 'facebook-share','width=580,height=296');return false;">
						<i class="ic ic-facebook"></i><span class="hidden">Facebook</span>
					</a>
					<a class="googleplus" href="https://plus.google.com/share?url={{url absolute="true"}}" onclick="window.open(this.href, 'google-plus-share', 'width=490,height=530');return false;">
						<i class="ic ic-googleplus"></i><span class="hidden">Google+</span>
					</a>
					<div class="clear"></div>
				</div>
				
				<aside class="post-tags">
					{{tags separator=" "}}
				</aside>
				
				<div class="clear"></div>
				
				{{#author}}
				<aside class="post-author">
					{{#if profile_image}}
						<figure class="post-author-avatar">
							<img src="{{profile_image}}" alt="{{name}}" />
						</figure>
					{{/if}}
					<div class="post-author-bio">
						<h4 class="post-author-name"><a href="{{url}}">{{name}}</a></h4>
						{{#if bio}}
							<p class="post-author-about">{{{bio}}}</p>
						{{/if}}
						{{#if location}}
							<span class="post-author-location"><i class="ic ic-location"></i> {{location}}</span>
						{{/if}}
						{{#if website}}
							<span class="post-author-website"><i class="ic ic-link"></i> <a href="{{website}}">Website</a></span>
						{{/if}}
						{{#if twitter}}
							<span class="post-author-twitter"><i class="ic ic-twitter"></i> <a target="_blank" href="https://twitter.com/{{twitter}}">Twitter</a></span>
						{{/if}}
						{{#if facebook}}
							<span class="post-author-facebook"><i class="ic ic-facebook"></i> <a target="_blank" href="https://facebook.com/{{facebook}}">Facebook</a></span>
						{{/if}}
					</div>
					<div class="clear"></div>
				</aside>
				{{/author}}

			</section>
			

			<section class="post-comments">
				<a id="show-disqus" class="post-comments-activate">Show Comments</a>
			    <div id="disqus_thread"></div>
			</section>
			
            {{#if @labs.subscribers}}
            <section class="post-subscribe">
                {{subscribe_form placeholder="Your email address" form_class="post-subscribe-form" input_class="post-subscribe-input" button_class="post-subscribe-button"}}
                <p>Get the latest posts delivered right to your inbox.</p>
            </section>
            {{/if}}

			<aside class="post-nav">
				{{#next_post}}
					<a class="post-nav-next" href="{{url}}">
						<section class="post-nav-teaser">
							<i class="ic ic-arrow-left"></i>
							<h2 class="post-nav-title">{{title}}</h2>
							<p class="post-nav-excerpt">{{excerpt words="12"}}&hellip;</p>
						</section>
					</a>
				{{/next_post}}
				{{#prev_post}}
					<a class="post-nav-prev" href="{{url}}">
						<section class="post-nav-teaser">
							<i class="ic ic-arrow-right"></i>
							<h2 class="post-nav-title">{{title}}</h2>
							<p class="post-nav-excerpt">{{excerpt words="12"}}&hellip;</p>
						</section>
					</a>
				{{/prev_post}}
				<div class="clear"></div>
			</aside>


		</div>
	</article>
</main>

{{/post}}