{{!< default}}


<header class="blog-header{{#if tag.feature_image}} has-cover{{/if}}">
	<div class="inner">
		<div class="archive archive-tag box archive-box">
			<span class="archive-info">
				<span class="archive-type">{{t "Topic"}}</span>
				<span class="archive-count">{{plural pagination.total empty=(t "No Posts") singular=(t "% Post") plural=(t "% Posts")}}</span>
			</span>
			<h2 class="archive-title">{{tag.name}}</h2>
			{{#if tag.description}}
				<span class="archive-description">{{{tag.description}}}</span>
			{{/if}}
		</div>

		{{#if tag.feature_image}}
		<div class="blog-cover cover">
			<img
			srcset="{{img_url tag.feature_image size="s"}} 320w,
              {{img_url tag.feature_image size="m"}} 640w,
              {{img_url tag.feature_image size="l"}} 960w,
              {{img_url tag.feature_image size="xl"}} 1920w"
      src="{{img_url tag.feature_image size="xl"}}"
			alt="{{@site.title}}" />
		</div>
		{{/if}}
	</div>
</header>

<div id="index" class="container">

	<main class="content" role="main">

		{{> "loop"}}

	</main>

</div>
