{{!< default}}

<header id="blog-header"{{#if tag.feature_image}} class="has-cover"{{else}}{{#if @site.cover_image}} class="has-cover"{{/if}}{{/if}}>
	<div class="inner">
		<nav id="navigation">
			{{#if @site.logo}}
			<span class="blog-logo">
				<a href="{{@site.url}}"><img src="{{@site.logo}}" alt="{{t "Blog Logo"}}" /></a>
			</span>
			{{else}}
			<span id="home-button" class="nav-button">
				<a class="home-button" href="{{@site.url}}" title="Home"><i class="ic ic-arrow-left"></i> {{t "Home"}}</a>
			</span>
			{{/if}}
			{{#if @site.navigation}}
			<span id="menu-button" class="nav-button">
				<a class="menu-button"><i class="ic ic-menu"></i> {{t "Menu"}}</a>
			</span>
			{{/if}}
		</nav>
		<h1 class="blog-name">{{tag.name}}</h1>
		<span class="blog-description">
		{{#if tag.description}}
			{{tag.description}}
		{{else}}
			{{t "Posts"}}: {{pagination.total}}
		{{/if}}
		</span>
		{{#if tag.feature_image}}
		<div class="blog-cover cover" style="background-image: url('{{img_url tag.feature_image}}');"></div>
		{{else}}
		{{#if @site.cover_image}}
		<div class="blog-cover cover" style="background-image: url('{{img_url @site.cover_image}}');"></div>
		{{/if}}
		{{/if}}
	</div>
</header>

<div id="index" class="container">

	<main class="content" role="main">

		{{> "loop"}}

	</main>

</div>
