{{!< ../default}}

{{!-- Everything inside the #post tags pulls data from the post --}}
{{#post}}

<header class="post-header {{#if cover_image}} has-cover {{/if}}">
	<div class="inner">
		<h1 class="post-title">{{{title}}}</h1>
		{{#if cover_image}}<div class="post-cover cover" style="background-image: url('{{img_url cover_image}}');"></div>{{/if}}
	</div>
</header>

<main class="content" role="main">
	<article class="{{post_class}}">
		<div class="inner">

			<section class="post-content">
				{{#if @member.paid}}

            {{!-- Logged in, paying member: Show account info --}}
            <div class="account-box">
                <h2 class="account-box-title">{{ t "Nice, you're a subscriber!"}}</h2>
                <p><strong>{{@member.email}}</strong> {{ t "has an active account with access to all areas. You're all set, but if you need any help, get in touch with us and we'd be happy to help."}}</p>
            </div>

        {{else if @member}}

            {{!-- Logged in, not paying: Link to checkout --}}
            <div class="account-box">
                <h1 class="account-box-title">{{ t "Currently, you're not a subscriber"}}</h1>
                <p><strong>{{@member.email}}</strong> {{ t "is subscribed to free updates, but doesn't have a paid subscription to unlock full access."}}</p>
                <div class="authbox-signup">
                    <a class="button" href="/signup/">
                        <span class="button-content">{{ t "Subscribe now"}}</span>
                    </a>
                </div>
            </div>

        {{else}}

            {{!-- Not logged in: Redirect to signin --}}
            <script>window.location = '{{@site.url}}/signin/';</script>

        {{/if}}
			</section>

		</div>
	</article>
</main>

{{/post}}
