{{!< ../default}}

<header class="post-header {{#if cover_image}} has-cover {{/if}}">
	<div class="inner">
		<h1 class="post-title">{{{title}}}</h1>
		{{#if cover_image}}<div class="post-cover cover" style="background-image: url('{{img_url cover_image}}');"></div>{{/if}}
	</div>
</header>

<main class="content" role="main">
	<article class="{{post_class}}">
		<div class="inner">

			<section class="post-content">
				{{#if @member}}

            {{!-- Logged in: Redirect home --}}
            <script>window.location = '{{@site.url}}';</script>

        {{else}}

            {{!-- Not logged in: Signin form --}}
            <form class="signin-form" data-members-form="signin">
                <h1 class="signin-title">{{t "Welcome back!"}}</h1>
                <p>{{t "Sign into your account again for full access"}}</p>
                <div class="signin-box">
                    <input class="signin-email input" data-members-email type="email" placeholder="{{t "Your email address"}}" required="true" autocomplete="false" />
                    <button class="signin-button button" type="submit">
                        <span class="button-content">{{t "Send login link"}}</span>
                        <span class="button-loader"></span>
                    </button>
                </div>
                <p><small>{{t "Don't have an account yet?"}} <a href="/signup/">{{t "Sign up"}}</a></small></p>
                <div class="message-success">{{t "Check your inbox and click the link to complete signin"}}</div>
                <div class="message-error">{{t "Please enter a valid email address!"}}</div>
            </form>

        {{/if}}
			</section>

		</div>
	</article>
</main>
