{{!< ../default}}

<header class="post-header {{#if cover_image}} has-cover {{/if}}">
	<div class="inner">
		<h1 class="post-title">{{{title}}}</h1>
		{{#if cover_image}}<div class="post-cover cover" style="background-image: url('{{img_url cover_image}}');"></div>{{/if}}
	</div>
</header>

<main class="content" role="main">
	<article class="{{post_class}}">
		<div class="inner">

			<section class="post-content">
				{{#if @member.paid}}

            {{!-- Logged in, paying member: Redirect home --}}
            <script>window.location = '{{@site.url}}';</script>

        {{else if @member}}

            {{!-- Logged in, not paying: Check out --}}
            <div class="members-form checkout-form">
                <h1 class="members-form-title">{{ t "Choose your subscription"}}</h1>
                <p>Unlock full access to {{@site.title}} and see the entire library of members-only content & updates</p>
                <div class="pricingtable">
                    <div class="pricingtable-plan">
                        <header class="pricingtable-header">
                            <h3 class="pricingtable-title">{{t "Monthly"}}</h3>
														<div class="pricingtable-desc">Get access to everything</div>
														<div class="pricingtable-price">
	                            <span>{{@price.currency_symbol}}<strong>{{@price.monthly}}</strong></span> / {{t "month"}}
														</div>
                        </header>
                        <div class="pricingtable-details">
                            <ul>
                                <li>Full access to all private posts</li>
                                <li>Regular updates with new content</li>
                                <li>Support independent publishing</li>
                                <li>Simple, secure card payment</li>
                            </ul>
                            <a class="checkout-button button" href="javascript:void(0)" data-members-plan="Monthly">{{t "Choose this plan"}}</a>
                        </div>
                    </div>
                    <div class="pricingtable-plan">
                        <header class="pricingtable-header">
                            <h3 class="pricingtable-title">{{t "Yearly"}}</h3>
														<div class="pricingtable-desc">Save on an extra 20% discount</div>
														<div class="pricingtable-price">
	                            <span>{{@price.currency_symbol}}<strong>{{@price.yearly}}</strong></span> / {{t "year"}}
														</div>
                        </header>
                        <div class="pricingtable-details">
                            <ul>
                                <li>Full access to all private posts</li>
                                <li>Regular updates with new content</li>
                                <li>Support independent publishing</li>
                                <li>Simple, secure card payment</li>
                                <li>One easy payment instead of 12!</li>
                            </ul>
                            <a class="checkout-button button" href="javascript:void(0)" data-members-plan="Yearly">{{t "Choose this plan"}}</a>
                        </div>
                    </div>
                </div>
            </div>

        {{else}}

            {{!-- Not logged in: Sign up --}}
            <form class="members-form signup-form" data-members-form="signup">
                <h1 class="members-form-title">{{t "Signup to"}} {{@site.title}}</h1>
                <p>{{@site.description}}</p>
                <div class="members-form-box">
                    <input class="signup-email input" data-members-email type="email" placeholder="{{t "Type your email..."}}" required="true" autocomplete="false" />
                    <button class="signup-button button" type="submit">
                        <span class="button-content">{{t "Continue"}}</span>
                        <span class="button-loader"></span>
                    </button>
                </div>
                <p><small>{{t "Already have an account?"}} <a href="/signin/">{{t "Sign in"}}</a></small></p>
                <div class="message-success">{{t "Check your inbox and click the link to confirm your subscription"}}</div>
                <div class="message-error">{{t "Please enter a valid email address!"}}</div>
            </form>

        {{/if}}
			</section>

		</div>
	</article>
</main>
